body {
    font-family: sans-serif;
    padding: 0 10px;
    margin: 50px auto;
    line-height: 1.4;
    max-width: 650px;
    font-size: 16px;
}

h1, h2 {
    font-weight: normal;
}

a {
    color: rgb(0, 160, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(255, 111, 0);
}
